<a href="https://colab.research.google.com/github/milichowdhury/Machine_Chatbot/blob/main/Convert_csv_to_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#IMPORT FILES
import pandas as pd
import sqlite3

In [4]:
csv_url = "https://raw.githubusercontent.com/milichowdhury/Machine_Chatbot/refs/heads/main/src/data/ai4i2020.csv"

df = pd.read_csv(csv_url)  # Read the CSV file into a DataFrame


db_file = '/content/ai4i2020.db'  # Specify the path to your .db file
connection = sqlite3.connect(db_file) #connect to sqllite

df.to_sql('Machinelogs', connection, if_exists='replace', index=False) #name of table Machinelogs

connection.close()

print("CSV has been converted to SQLite database successfully.")

CSV has been converted to SQLite database successfully.

#TEST

In [5]:
# Step 1: Connect to the database
connection = sqlite3.connect(db_file)

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Get all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

# Check the column types of the 'movies' table
table_name = 'Machinelogs'  # Update with your actual table name
cursor.execute(f"PRAGMA table_info({table_name});")
columns_info = cursor.fetchall()

print(f"\nColumn types in the '{table_name}' table:")
for column in columns_info:
    column_name = column[1]
    data_type = column[2]
    print(f"Column: {column_name}, Type: {data_type}")

# Step 4: Close the connection
connection.close()

Tables in the database:
Machinelogs

Column types in the 'Machinelogs' table:
Column: UDI, Type: INTEGER
Column: Product ID, Type: TEXT
Column: Type, Type: TEXT
Column: Air temperature [K], Type: REAL
Column: Process temperature [K], Type: REAL
Column: Rotational speed [rpm], Type: INTEGER
Column: Torque [Nm], Type: REAL
Column: Tool wear [min], Type: INTEGER
Column: Machine failure, Type: INTEGER
Column: TWF, Type: INTEGER
Column: HDF, Type: INTEGER
Column: PWF, Type: INTEGER
Column: OSF, Type: INTEGER
Column: RNF, Type: INTEGER

In [6]:
# Step 1: Connect to the database
connection = sqlite3.connect(db_file)

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Execute a query to get all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

# Example of querying data from the 'Machinelogs' table and limiting to 10 rows
cursor.execute("SELECT * FROM Machinelogs LIMIT 10;")
rows = cursor.fetchall()

print("\nData from 'Machinelogs' table (first 10 rows):")
for row in rows:
    print(row)

# Step 4: Close the connection
connection.close()

Tables in the database:
Machinelogs

Data from 'Machinelogs' table (first 10 rows):
(1, 'M14860', 'M', 298.1, 308.6, 1551, 42.8, 0, 0, 0, 0, 0, 0, 0)
(2, 'L47181', 'L', 298.2, 308.7, 1408, 46.3, 3, 0, 0, 0, 0, 0, 0)
(3, 'L47182', 'L', 298.1, 308.5, 1498, 49.4, 5, 0, 0, 0, 0, 0, 0)
(4, 'L47183', 'L', 298.2, 308.6, 1433, 39.5, 7, 0, 0, 0, 0, 0, 0)
(5, 'L47184', 'L', 298.2, 308.7, 1408, 40.0, 9, 0, 0, 0, 0, 0, 0)
(6, 'M14865', 'M', 298.1, 308.6, 1425, 41.9, 11, 0, 0, 0, 0, 0, 0)
(7, 'L47186', 'L', 298.1, 308.6, 1558, 42.4, 14, 0, 0, 0, 0, 0, 0)
(8, 'L47187', 'L', 298.1, 308.6, 1527, 40.2, 16, 0, 0, 0, 0, 0, 0)
(9, 'M14868', 'M', 298.3, 308.7, 1667, 28.6, 18, 0, 0, 0, 0, 0, 0)
(10, 'M14869', 'M', 298.5, 309.0, 1741, 28.0, 21, 0, 0, 0, 0, 0, 0)